# Tugas Besar IF3170 Inteligensia Buatan 2017/2018

## Aplikasi Web Prediksi Income Per Tahun Tahap 1 : Eksperimen

Anggota :
    1. Dewita Sonya Tarabunga - 13515021
    2. Helena Suzane Graciella - 13515032
    3. Emilia Razak - 13515056
    4. Jehian Norman Saviero - 13515139

### Analisis Data

Data training yang diberikan merupakan data dari 32561 hasil sensus yang memberikan data-data berupa age, workclass, final weight, education, education number, marital status, occupation, race, sex, capital gain, capital loss, hours per week, dan native country. Terdapat juga data test yang akan digunakan untuk melakukan test hasil pembelajaran.

Analisis yang kami lakukan terhadap data adalah analisis terhadap missing value pada data. Terdapat 3 kolom pada data yang memiliki missing value, yaitu '?' yaitu workclass, occupation, dan native country. Selain itu, semua kolom lain tidak memiliki missing value. Setelah dilihat dari data, semua orang yang memiliki missing value pada occupation hanya memiliki dua kemungkinan nilai workclass, yaitu Never-worked atau missing value. Jelas bahwa jika workclass adalah Never-worked, maka orang tersebut tidak memiliki pekerjaan sehingga value nya kosong. Lalu, jika dilihat dari data yang memiliki missing value di keduanya, hampir 90% dari orang tersebut memiliki gross income <= 50K, maka kami mengasumsikan bahwa orang tersebut pernah bekerja, namun sekarang tidak bekerja sehingga tidak masuk ke kategori manapun dalam workclass. Maka kami mengubah missing value di workclass menjadi Not-worked dan missing value di occupation menjadi None.

Satu kolom lagi yang memiliki missing value adalah native country, namun native country merupakan data categorical sehingga tidak masuk akal jika diganti dengan data mean atau median, begitu pula data modus juga kurang cocok untuk menggantikan missing value. Maka kami menganggap missing value sebagai negara lain di luar daftar, atau Other.

Setelah analisis, kami akan melakukan eksperimen dengan akurasi menjadi ukuran kinerja.

### Eksperimen : 10-Cross Fold Validation

#### Import library yang dibutuhkan

In [21]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn.neural_network import MLPClassifier
from sklearn.externals import joblib

#### Membaca data training dari file eksternal

In [14]:
data = pd.read_csv('CencusIncome.data.txt')
print(data.head())

   age   workclass  fnlwgt        edu  edunum             marital occupation  \
0   42  Not-worked   51795    HS-grad       9            Divorced       None
1   60  Not-worked  251572    HS-grad       9             Widowed       None
2   28  Not-worked  201844    HS-grad       9           Separated       None
3   28  Not-worked  196630  Assoc-voc      11           Separated       None
4   67  Not-worked  150264  Doctorate      16  Married-civ-spouse       None

    relationship   race     sex  gain  loss  hours         native  gross
0      Unmarried  Black  Female     0     0     32  United-States  <=50K
1  Not-in-family  White    Male     0     0     35         Poland  <=50K
2      Unmarried  White  Female     0     0     40         Mexico  <=50K
3      Unmarried  White  Female     0     0     40         Mexico  <=50K
4        Husband  White    Male     0     0     20         Canada   >50K

#### Melakukan encoding pada data categorical

In [15]:
# Digunakan OneHotEncoder pada data categorical selain gross income
for column in data.columns.values:
    if (data.dtypes[column] == object and column != 'gross'):
        enc = pd.get_dummies(data[column])
        data = data.drop(column, axis=1)
        data = data.join(enc)
# Digunakan LabelEncoder pada data gross karena kolom tersebut merupakan target
le = preprocessing.LabelEncoder()
le.fit(['<=50K', '>50K'])
enc = le.transform(data['gross'])
data['gross'] = enc
print(data.head())

   age  fnlwgt  edunum  gain  loss  hours  gross  Federal-gov  Local-gov  \
0   42   51795       9     0     0     32      0            0          0
1   60  251572       9     0     0     35      0            0          0
2   28  201844       9     0     0     40      0            0          0
3   28  196630      11     0     0     40      0            0          0
4   67  150264      16     0     0     20      1            0          0

   Never-worked     ...      Portugal  Puerto-Rico  Scotland  South  Taiwan  \
0             0     ...             0            0         0      0       0
1             0     ...             0            0         0      0       0
2             0     ...             0            0         0      0       0
3             0     ...             0            0         0      0       0
4             0     ...             0            0         0      0       0

   Thailand  Trinadad&Tobago  United-States  Vietnam  Yugoslavia
0         0                0              1        0           0
1         0                0              0        0           0
2         0                0              0        0           0
3         0                0              0        0           0
4         0                0              0        0           0

[5 rows x 109 columns]

#### Melakukan split antara data dan target untuk difit

In [16]:
datatrain = data.drop('gross', axis=1)
targettrain = data['gross']

#### Melakukan ekperimen dengan Decision Tree Classifier

In [17]:
kf = KFold(n_splits=10, shuffle=True)
tclf = tree.DecisionTreeClassifier(criterion="entropy", max_depth=10)
for train_index, test_index in kf.split(datatrain):
        X_train, X_test = datatrain.iloc[train_index], datatrain.iloc[test_index]
        Y_train, Y_test = targettrain.iloc[train_index], targettrain.iloc[test_index]
        tclf = tclf.fit(X_train, Y_train)
        pred = tclf.predict(X_test)
        print(accuracy_score(Y_test, pred))

0.850475898066
0.853501228501
0.85257985258
0.860257985258
0.854422604423
0.859336609337
0.860565110565
0.836302211302
0.858108108108
0.864864864865

#### Melakukan ekperimen dengan Multilayer Perceptron

In [18]:
nclf = MLPClassifier(alpha=1e-5, hidden_layer_sizes=(20, 20, 20), random_state=1, max_iter=500)
for train_index, test_index in kf.split(datatrain):
        X_train, X_test = datatrain.iloc[train_index], datatrain.iloc[test_index]
        Y_train, Y_test = targettrain.iloc[train_index], targettrain.iloc[test_index]
        nclf = nclf.fit(X_train, Y_train)
        pred = nclf.predict(X_test)
        print(accuracy_score(Y_test, pred))

0.779244703715
0.251842751843
0.790847665848
0.77886977887
0.780098280098
0.765356265356
0.807432432432
0.797911547912
0.233722358722
0.803132678133

### Full Training

#### Training

In [20]:
tclf = tree.DecisionTreeClassifier(criterion="entropy", max_depth=10)
tclf = tclf.fit(datatrain, targettrain)

#### Simpan model ke file eksternal

In [22]:
joblib.dump(tclf, 'model.pkl')

['model.pkl']

### Evaluasi Model

#### Load model dari file eksternal

In [23]:
model = joblib.load('model.pkl')

#### Membaca data test dari file eksternal

In [24]:
test = pd.read_csv('CencusIncome.test.txt')
print(test.head())

   age   workclass  fnlwgt           edu  edunum             marital  \
0   25     Private  226802          11th       7       Never-married
1   38     Private   89814       HS-grad       9  Married-civ-spouse
2   28   Local-gov  336951    Assoc-acdm      12  Married-civ-spouse
3   44     Private  160323  Some-college      10  Married-civ-spouse
4   58  Not-worked  299831       HS-grad       9  Married-civ-spouse

          occupation relationship   race   sex  gain  loss  hours  \
0  Machine-op-inspct    Own-child  Black  Male     0     0     40
1    Farming-fishing      Husband  White  Male     0     0     50
2    Protective-serv      Husband  White  Male     0     0     40
3  Machine-op-inspct      Husband  Black  Male  7688     0     40
4               None      Husband  White  Male     0     0     35

          native  gross
0  United-States  <=50K
1  United-States  <=50K
2  United-States   >50K
3  United-States   >50K
4  United-States  <=50K

#### Melakukan encoding pada data categorical

In [25]:
# Digunakan OneHotEncoder pada data categorical selain gross income
for column in test.columns.values:
    if (test.dtypes[column] == object and column != 'gross'):
        enc = pd.get_dummies(test[column])
        test = test.drop(column, axis=1)
        test = test.join(enc)
# Digunakan LabelEncoder pada data gross karena kolom tersebut merupakan target
le = preprocessing.LabelEncoder()
le.fit(['<=50K', '>50K'])
enc = le.transform(test['gross'])
test['gross'] = enc
print(test.head())

   age  fnlwgt  edunum  gain  loss  hours  gross  Federal-gov  Local-gov  \
0   25  226802       7     0     0     40      0            0          0
1   38   89814       9     0     0     50      0            0          0
2   28  336951      12     0     0     40      1            0          1
3   44  160323      10  7688     0     40      1            0          0
4   58  299831       9     0     0     35      0            0          0

   Never-worked     ...      Portugal  Puerto-Rico  Scotland  South  Taiwan  \
0             0     ...             0            0         0      0       0
1             0     ...             0            0         0      0       0
2             0     ...             0            0         0      0       0
3             0     ...             0            0         0      0       0
4             0     ...             0            0         0      0       0

   Thailand  Trinadad&Tobago  United-States  Vietnam  Yugoslavia
0         0                0              1        0           0
1         0                0              1        0           0
2         0                0              1        0           0
3         0                0              1        0           0
4         0                0              1        0           0

[5 rows x 108 columns]

#### Menambah kolom yang kurang pada data test

Terdapat satu kategori pada native country yang tidak muncul pada data test, yaitu Holand-Netherlands. Akibatnya saat dilakukan OneHotEncoding, kolom tersebut tidak muncul, padahal kolom dari data training dan test harus sama. Maka solusinya adalah menambah kolom Holand-Netherlands yang berisi 0 pada setiap row.

In [26]:
test['Holand-Netherlands'] = 0
test = test[data.columns.tolist()]

#### Melakukan split antara data dan target untuk diprediksi

In [27]:
datatest = test.drop('gross', axis=1)
targettest = test['gross']

#### Melakukan prediksi

In [28]:
pred = model.predict(datatest)
print(pred)
print(accuracy_score(targettest, pred))

[0 0 0 ..., 0 0 0]
0.85995946195